install-sh
Makefile.in
aclocal.m4
config.h
src/Makefile.in
autom4te.cache/
config.log
config.status
configure
_res/Makefile
data/icons/Makefile
src/.deps
src/Makefile
src/*.o
compile
config.h.in
depcomp
missing
stamp-h1
config.h.in~
src/casentino2020
floppy/casentino2020.adf
core
_res/bkup
.vscode
libacereleaseopt.a
_res/VampireItalialogo.raw
_res/VampireItalialogopalette.h
_res/ball2bpl16x16_frame1.h
_res/ball2bpl16x16_frame1.raw
_res/ball2bpl16x16_frame1_palette.h
_res/ball2bpl16x16_frame2.h
_res/ball2bpl16x16_frame2.raw
_res/ball2bpl16x16_frame3.h
_res/ball2bpl16x16_frame3.raw
_res/ball2bpl16x16_frame4.h
_res/ball2bpl16x16_frame4.raw
_res/ball2bpl16x16_frame5.h
_res/ball2bpl32x32_frame1.raw
_res/ball2bpl32x32_frame1_1.h
_res/ball2bpl32x32_frame1_1.raw
_res/ball2bpl32x32_frame1_2.h
_res/ball2bpl32x32_frame1_2.raw
_res/ball2bpl32x32_frame2.raw
_res/ball2bpl32x32_frame2_1.h
_res/ball2bpl32x32_frame2_1.raw
_res/ball2bpl32x32_frame2_2.h
_res/ball2bpl32x32_frame2_2.raw
_res/ball2bpl32x32_frame3.raw
_res/ball2bpl32x32_frame3_1.h
_res/ball2bpl32x32_frame3_1.raw
_res/ball2bpl32x32_frame3_2.h
_res/ball2bpl32x32_frame3_2.raw
_res/ball2bpl32x32_frame4.raw
_res/ball2bpl32x32_frame4_1.h
_res/ball2bpl32x32_frame4_1.raw
_res/ball2bpl32x32_frame4_2.h
_res/ball2bpl32x32_frame4_2.raw
_res/intermezzoV2.h
_res/intermezzoV2.raw
_res/intermezzoV2_palette.h
_res/uni54.h
_res/valkyrie320x244.h
_res/valkyrie320x244.raw
_res/valkyrie320x244palette.h
_res/valkyrie320x244palette.plt
floppy/adf/casentino2020
tests/3dcube
tests/3dcube.o
tests/matrixperformance
tests/matrixperformance.o
tests/projection
tests/projection.o
tests/testtrig
tests/testtrig.o
_res/bootimg.raw
_res/bootimgpalette.plt
_res/Aded320x224.plt
_res/Aded320x224.raw
_res/Aded320x224_1.h
_res/Aded320x224_1.raw
_res/Aded320x224_2.h
_res/Aded320x224_2.raw
_res/Aded320x224palette.h
_res/VampireItalialogo.h
_res/bootimg.h
_res/bootimgpalette.h
bootimg/bootimg
bootimg/bootimg.o
floppy/*.adf
_res/discocrazy.h
./Makefile
_res/Makefile
floppy/Makefile
tests/Makefile
tests/.deps/3dcube.Po
tests/.deps/matrixperformance.Po
tests/.deps/projection.Po
tests/.deps/testtrig.Po
tests/.deps
