install-sh
Makefile.in
aclocal.m4
config.h
src/Makefile.in
src/Makefile.in
Makefile
autom4te.cache/
config.log
config.status
configure
_res/Makefile
data/icons/Makefile
src/.deps
src/Makefile
src/guake-indicator
src/*.o
compile
config.h.in
depcomp
missing
stamp-h1
config.h.in~
src/casentino2020
casentino2020.adf
core
_res/bkup
